# Iris Dataset Analysis
This notebook performs data loading, exploration, analysis, and visualization on the Iris dataset.

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris

# Load the Iris dataset
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
df.head()

In [ ]:
# Data types and missing values
df.info()
df.isnull().sum()

In [ ]:
# Basic statistics
df.describe()

In [ ]:
# Mean of each numerical column grouped by species
df.groupby('species').mean()

## Data Visualization

In [ ]:
# Line chart: Using the mean values over index as a placeholder for trend
sns.lineplot(data=df.groupby('species').mean().T)
plt.title('Mean Feature Values by Species')
plt.ylabel('Mean Value')
plt.xlabel('Features')
plt.xticks(rotation=45)
plt.legend(title='Species')
plt.tight_layout()
plt.show()

In [ ]:
# Bar chart: Average petal length per species
sns.barplot(x='species', y='petal length (cm)', data=df)
plt.title('Average Petal Length by Species')
plt.ylabel('Petal Length (cm)')
plt.xlabel('Species')
plt.show()

In [ ]:
# Histogram: Sepal length distribution
sns.histplot(df['sepal length (cm)'], bins=10, kde=True)
plt.title('Distribution of Sepal Length')
plt.xlabel('Sepal Length (cm)')
plt.show()

In [ ]:
# Scatter plot: Sepal length vs Petal length
sns.scatterplot(data=df, x='sepal length (cm)', y='petal length (cm)', hue='species')
plt.title('Sepal Length vs Petal Length')
plt.xlabel('Sepal Length (cm)')
plt.ylabel('Petal Length (cm)')
plt.show()